body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 24px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.move-list-item-selected {
  float: left;
  font-weight: bold;
}

.square.highlight {
  background: #71f740;
}

.status-badge {
  font-size: 20px;
}

.wrapper {
  text-align: center;
}

#loginBtnDiv, #registerBtnDiv {
  display: inline;
}

.nextBtn {
  margin-left: 10px;;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.form {
  background:white;
  width:500px;
  border-radius:6px;
  margin: 0 auto 0 auto;
  padding:20px 20px 20px 20px;
  border: #2980b9 2px solid; 
}

.navbar {
  justify-content: flex-end;
}

.navbarItem {
  display: inline-block;
}

.avatar {
  width: 220px;
  height: 220px;
}

.center {
  text-align: center;
}

.notification-danger-text {
  color: red;
}

.nav-item {
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.scroll {
  overflow-y: auto;
  overflow-x: hidden;
  width: 320px; 
  height: 450px; 
  border: 2px solid #2980b9;
} 

.vertical-list {
  margin-bottom: 20px;
  text-align: left;
  width: 300px;
}

.table {
  width: 300px;
  table-layout: fixed;
  border-collapse: collapse;
}

.table Button {
  width: 100%;
}

.nav-border {
  border: 1px solid #2980b9;
}

.container {
  text-align: center;
}